.header {
  width: 200px;
  background-color: rgb(87, 179, 62);
  margin: 0 auto;
  padding: 50px;

  .header-icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .header-icon {
      position: relative;
      width: 50px;
      height: 50px;
      color: transparent;
      background-color: transparent;

      svg {
        fill: currentColor;
        stroke: white;
        transition: transform 2s ;

      }

      .header-icon-counter {
        position: absolute;
        top: 2px;
        right: 2px;
        font-size: 25px;
        color: yellow;
      }
    }
  }
     .header-logo {
       transition: transform 1s;
     }
  
     .header-logo:hover {
       transform: rotate(360deg);
     }
}