// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss
@import "variables";
@import "sections";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');




body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $color2;
}

@media screen and (min-width:1200px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
    }


    .header__menu {
        display: none;
    }

    .header__logo {
        margin-top: 40px;
        margin-left: 190px;
    }

    .header__nav {
        display: flex;
        padding-left: 600px;
        margin-top: -60px;
        font-family: $font1;

        &--item {
            border: 1px solid $color2;
            border-radius: 100px;
            width: 160px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2px 0 2px 0;
            margin: 0px 10px;
        }
    }

    .section1__title {
        color: $color3;
        font-family: $font2;
        font-size: 80px;
        font-weight: 700;
        line-height: 96px;
        width: 846px;
        height: 190px;
        padding-top: 390px;
        margin-left: 190px;
        padding-bottom: 108px;
    }

    .section2__item {
        padding-top: 100px;
        padding-left: 190px;
        padding-bottom: 100px;

        &--title {
            color: $color5;
            font-family: $font2;
            font-size: 48px;
            font-weight: 700;
        }

        &--p {
            color: $color3;
            font-family: $font1;
            margin-top: 40px;
        }
    }

    .section2__conteiner {
        display: flex;
        color: $color3;
        margin-top: 40px;


        &--item {
            font-family: $font2;
            font-size: 48px;
            font-weight: 700;
        }

        &--item:not(:first-child) {
            margin-left: 95px;
        }

        &--p {
            font-family: $font1;
            font-size: 16px;
        }
    }

    .section2__decoration {
        position: absolute;
        width: 551.58px;
        height: 552.04px;
        left: 75%;
        top: 653px;
        bottom: -753px;
        margin-right: -150px;



        &--2 {
            transform: rotate(90deg);
            margin-top: -1800px;
        }
    }

    .section3 {
        width: 100%;
        height: 1460px;
        padding-top: 1px;



        &__item1 {
            margin: 86px auto;
            justify-content: center;
            align-items: center;
            background-color: $color7;
            width: 1050px;
            height: 680px;
            border-radius: 20px;

            &--img {
                width: 1010px;
                height: 498px;
                padding-left: 20px;
                padding-top: 20px;
            }

            &--title {
                font-family: $font2;
                color: $color8;
                font-size: 40px;
                margin-left: 20px;
                margin-bottom: 20px;
            }

            &--text {
                font-size: 16px;
                font-family: $font1;
                font-weight: 700;
                margin-left: 20px;
            }
        }


        &__item2 {
            width: 325px;
            height: 545px;
            background-color: $color7;
            border-radius: 20px;

            &--img {
                width: 285px;
                height: 338px;
                border-radius: 10px;
                margin-top: 20px;
                margin-left: 20px;
            }

            &--title {
                font-family: $font2;
                color: $color8;
                font-size: 30px;
                margin-left: 20px;
                margin-bottom: 20px;
            }

            &--text {
                font-size: 16px;
                font-family: $font1;
                margin-left: 20px;
            }
        }

        &__item3 {
            margin-left: 40px;
            width: 325px;
            height: 545px;
            background-color: $color7;
            border-radius: 20px;

            &--img {
                width: 285px;
                height: 338px;
                border-radius: 10px;
                margin-top: 20px;
                margin-left: 20px;
            }

            &--title {
                font-family: $font2;
                color: $color8;
                font-size: 25px;
                margin-left: 20px;
                margin-bottom: 20px;
            }

            &--text {
                font-size: 16px;
                font-family: $font1;
                margin-left: 20px;
            }
        }

        &__item4 {
            margin-left: 40px;
            width: 325px;
            height: 545px;
            background-color: $color7;
            border-radius: 20px;

            &--img {
                width: 285px;
                height: 338px;
                border-radius: 10px;
                margin-top: 20px;
                margin-left: 20px;
            }

            &--title {
                font-family: $font2;
                color: $color8;
                font-size: 25px;
                margin-left: 20px;
                margin-bottom: 20px;
            }

            &--text {
                font-size: 16px;
                font-family: $font1;
                margin-left: 20px;
            }

        }

    }

    .parent-element {
        display: flex;
        justify-content: center;
    }

    .section4 {
        width: 100%;
        height: 1220px;
        padding-top: 1px;



        &__parentelement {
            display: flex;
            margin-left: 235px;
        }

        &__title {
            color: $color3;
            font-size: 80px;
            margin-top: 82px;
            margin-left: 235px;
            font-family: $font2;
        }

        &__item {
            &--1 {
                width: 1055px;
                height: 414px;
                margin-left: 235px;
                margin-bottom: 25px;
                opacity: 0.5;
                position: relative;
                display: inline-block;
            }


            &--2 {
                width: 514px;
                height: 414px;
            }

            &--3 {
                width: 514px;
                height: 414px;
                margin-left: 25px;
            }
        }
    }


    .section5 {
        width: 100%;
        height: 530px;

        &__link {
            width: 1000px;
            text-align: center;
            align-items: center;
            margin: 0 auto;
            border: 1px solid white;
            border-radius: 100px;


            &--img1 {
                margin-top: 40px;
            }

            &--title {
                color: $color7;
                font-family: $font2;
                font-size: 48px;
                font-weight: 700;
                text-align: center;
                margin-left: 30px;
                position: relative;
                top: -60px;
            }

            &--text {
                color: $color7;
                font-family: $font1;
                font-size: 24px;
                font-weight: 500;
                margin-left: 30px;
                position: relative;
                top: -50px;
                left: -65px;
            }

            &--img2 {
                position: relative;
                top: -45px;
                left: -50px;
            }
        }

        .section5__img {
            text-align: center;
            margin-top: 200px;



            &--item {
                margin-left: 35px;
            }
        }

        &__footer {
            color: $color3;
            font-family: $font1;
            font-size: 16px;
            font-weight: 500;
            margin-left: 35px;
            text-align: center;
        }
    }
}


@media screen and (min-width:768px) and (max-width:1200px) {
    .header__menu {
        margin-top: 38px;
        position: absolute;
        right: 0;
    }

    .header__nav {
        display: none;
    }

    .header__logo {
        margin-top: 38px;
        margin-left: 34px;
    }

    .section1__title {
        color: $color3;
        font-family: $font2;
        font-size: 80px;
        font-weight: 700;
        line-height: 96px;
        width: 520px;
        height: 390px;
        margin-top: 270px;
        margin-left: 35px;
        padding-bottom: 108px;
    }

    .section2__item {
        padding-top: 100px;
        padding-left: 30px;
        padding-bottom: 100px;

        &--title {
            color: $color5;
            font-family: $font2;
            font-size: 48px;
            font-weight: 700;
        }

        &--p {
            color: $color3;
            font-family: $font1;
            margin-top: 40px;
        }
    }

    .section2__conteiner {
        display: flex;
        color: $color3;
        margin-top: 40px;

        &--item {
            font-family: $font2;
            font-size: 48px;
            font-weight: 700;
        }

        &--item:not(:first-child) {
            margin-left: 95px;
        }

        &--p {
            font-family: $font1;
            font-size: 16px;
        }
    }

    .section2__decoration {
        position: absolute;
        width: 551.58px;
        height: 552.04px;
        left: 513px;
        right: 0;
        top: 800px;
        bottom: -754px;
        margin-left: 400px;

        &--2 {
            transform: rotate(90deg);
            margin-top: -1100px;
        }
    }

    .section3 {
        width: 100%;
        height: 1460px;
        padding-top: 1px;



        &__item1 {
            margin: 86px auto;
            justify-content: center;
            align-items: center;
            background-color: $color7;
            width: 703px;
            height: 680px;
            border-radius: 20px;

            &--img {
                width: 663px;
                height: 498px;
                padding-left: 20px;
                padding-top: 20px;
            }

            &--title {
                font-family: $font2;
                color: $color8;
                font-size: 40px;
                margin-left: 20px;
                margin-bottom: 20px;
            }

            &--text {
                font-size: 16px;
                font-family: $font1;
                font-weight: 700;
                margin-left: 20px;
            }
        }


        &__item2 {
            width: 325px;
            height: 545px;
            background-color: $color7;
            border-radius: 20px;

            &--img {
                width: 285px;
                height: 338px;
                border-radius: 10px;
                margin-top: 20px;
                margin-left: 20px;
            }

            &--title {
                font-family: $font2;
                color: $color8;
                font-size: 30px;
                margin-left: 20px;
                margin-bottom: 20px;
            }

            &--text {
                font-size: 16px;
                font-family: $font1;
                margin-left: 20px;
            }
        }

        &__item3 {
            margin-left: 40px;
            width: 325px;
            height: 545px;
            background-color: $color7;
            border-radius: 20px;

            &--img {
                width: 285px;
                height: 338px;
                border-radius: 10px;
                margin-top: 20px;
                margin-left: 20px;
            }

            &--title {
                font-family: $font2;
                color: $color8;
                font-size: 25px;
                margin-left: 20px;
                margin-bottom: 20px;
            }

            &--text {
                font-size: 16px;
                font-family: $font1;
                margin-left: 20px;
            }
        }

        &__item4 {
            display: none;
        }

    }

    .parent-element {
        display: flex;
        justify-content: center;
    }

    .section4 {
        width: 100%;
        height: 1220px;
        padding-top: 1px;



        &__parentelement {
            display: flex;
            margin-left: 70px;
        }

        &__title {
            color: $color3;
            font-size: 80px;
            margin-top: 82px;
            margin-left: 70px;
            font-family: $font2;
        }

        &__item {
            &--1 {
                width: 704px;
                height: 414px;
                margin-left: 70px;
                margin-bottom: 25px;
                opacity: 0.5;
            }

            &--2 {
                width: 336px;
                height: 325px;
            }

            &--3 {
                width: 335px;
                height: 325px;
                margin-left: 25px;
            }
        }
    }

    .section5 {
        width: 100%;
        height: 530px;

        &__link {
            width: 700px;
            text-align: center;
            align-items: center;
            margin: 0 auto;
            border: 1px solid white;
            border-radius: 100px;


            &--img1 {
                margin-top: 40px;
            }

            &--title {
                color: $color7;
                font-family: $font2;
                font-size: 48px;
                font-weight: 700;
                text-align: center;
                margin-left: 30px;
                position: relative;
                top: -60px;
            }

            &--text {
                color: $color7;
                font-family: $font1;
                font-size: 24px;
                font-weight: 500;
                margin-left: 30px;
                position: relative;
                top: -50px;
                left: -65px;
            }

            &--img2 {
                position: relative;
                top: -45px;
                left: -50px;
            }
        }

        .section5__img {
            text-align: center;
            margin-top: 200px;



            &--item {
                margin-left: 35px;
            }
        }

        &__footer {
            color: $color3;
            font-family: $font1;
            font-size: 16px;
            font-weight: 500;
            margin-left: 35px;
            text-align: center;
        }
    }
}


@media screen and (min-width:320px) and (max-width:768px) {
    .header__nav {
        display: none;
    }

    .header__logo {
        margin-top: 27px;
        margin-left: 17px;
    }

    .header__menu {
        margin-top: 38px;
        position: absolute;
        right: 0;
    }

    .section1__title {
        color: $color3;
        font-family: $font2;
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        width: 326px;
        height: 239px;
        margin-top: 412px;
        margin-left: 21px;
        padding-bottom: 108px;
    }

    .section2__item {
        padding-top: 100px;
        padding-left: 30px;
        padding-bottom: 100px;

        &--title {
            color: $color5;
            font-family: $font2;
            font-size: 48px;
            font-weight: 700;
        }

        &--p {
            color: $color3;
            font-family: $font1;
            margin-top: 40px;
        }
    }

    .section2__conteiner {
        display: flex;
        color: $color3;
        margin-top: 40px;

        &--item {
            font-family: $font2;
            font-size: 36px;
            font-weight: 700;
        }

        &--item:not(:first-child) {
            margin-left: 95px;
        }

        &--p {
            font-family: $font1;
            font-size: 16px;
        }
    }

    .section2__decoration {
        position: absolute;
        width: 551.58px;
        height: 552.04px;
        left: 513px;
        right: 0;
        top: 800px;
        bottom: -754px;
        margin-left: 10px;

        &--2 {
            transform: rotate(90deg);
            margin-top: -1100px;
        }
    }

    .section3 {
        width: 100%;
        height: 1460px;
        padding-top: 1px;



        &__item1 {
            margin: 86px auto;
            justify-content: center;
            align-items: center;
            background-color: $color7;
            width: 343px;
            height: 500px;
            border-radius: 20px;

            &--img {
                width: 311px;
                height: 278px;
                padding-left: 20px;
                padding-top: 20px;
            }

            &--title {
                font-family: $font2;
                color: $color8;
                font-size: 32px;
                margin-left: 20px;
                margin-bottom: 20px;
            }

            &--text {
                font-size: 15px;
                font-family: $font1;
                font-weight: 700;
                margin-left: 20px;
            }
        }


        &__item2 {
            display: none;
        }

        &__item3 {
            width: 343px;
            height: 518px;
            background-color: $color7;
            border-radius: 20px;

            &--img {
                width: 319px;
                height: 363px;
                border-radius: 10px;
                margin-top: 20px;
                margin-left: 13px;
            }

            &--title {
                font-family: $font2;
                color: $color8;
                font-size: 25px;
                margin-left: 20px;
                margin-bottom: 20px;
            }

            &--text {
                font-size: 16px;
                font-family: $font1;
                margin-left: 20px;
            }
        }

        &__item4 {
            display: none;
        }

    }

    .parent-element {
        display: flex;
        justify-content: center;
    }

    .section4 {
        width: 100%;
        height: 1300px;
        padding-top: 1px;


        &__title {
            color: $color3;
            font-size: 50px;
            margin-top: 82px;
            margin-left: 70px;
            font-family: $font2;
        }

        &__item {
            &--1 {
                width: 343px;
                height: 325px;
                margin-left: 90px;
                margin-bottom: 25px;
                opacity: 0.5;
            }

            &--2 {
                width: 343px;
                height: 325px;
                margin-left: 90px;
            }

            &--3 {
                width: 343px;
                height: 325px;
                margin-top: 25px;
                margin-left: 90px;
            }
        }
    }

    .section5 {
        width: 100%;
        height: 542px;

        &__link {
            width: 700px;
            text-align: center;
            align-items: center;
            margin: 0 auto;
            border: 1px solid white;
            border-radius: 100px;


            &--img1 {
                margin-top: 40px;
            }

            &--title {
                color: $color7;
                font-family: $font2;
                font-size: 48px;
                font-weight: 700;
                text-align: center;
                margin-left: 30px;
                position: relative;
                top: -60px;
            }

            &--text {
                color: $color7;
                font-family: $font1;
                font-size: 24px;
                font-weight: 500;
                margin-left: 30px;
                position: relative;
                top: -50px;
                left: -65px;
            }

            &--img2 {
                position: relative;
                top: -45px;
                left: -50px;
            }
        }

        .section5__img {
            text-align: center;
            margin-top: 200px;



            &--item {
                margin-left: 35px;
            }
        }

        &__footer {
            color: $color3;
            font-family: $font1;
            font-size: 16px;
            font-weight: 500;
            margin-left: 35px;
            text-align: center;
        }
    }
}