:root {
    --color1: #171717;
    --color2: #634F2C;
    --color3: #B4A385;
    --color4: #E4B564;
    --color5: #635A4A;
    --color6: #B08C4D;
    --color7: #635A4A;
    --color8: #1F1F1F;
    --color9: #242424;
    --color10: #0E0E0E;
    --color11: rgba(228, 181, 100, 1);
    --color12: #0A0909;
    --color13: rgba(232, 210, 171, 0.76);
}

body {
    background-color: var(--color1);
    color: white;
    max-height: max-content;
    padding-bottom: 1000px;
}

a {
    text-decoration: none;
}

.header-link {
    color: var(--color11);
}

.header-itemx {
    display: flex;
    width: 180px;
    height: 50px;
    color: var(--color11);
    border: 1px solid var(--color11);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header-item {
    display: flex;
    justify-content: flex-end;
    margin-top: -100px;
    margin-right: 100px;
    margin-right: 150px;
}

p {
    width: 800px;
    margin-bottom: 30px;
}

.header,
.img1 {
    margin-left: 150px;
}

.img1 {
    margin-bottom: 70px;
    margin-top: 30px;
}

.link1 {
    color: white;
    display: flex;
    justify-content: center;
}

.list {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    list-style: none;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.item {
    height: 467px;
}

.item1,
.item2,
.item3 {
    margin-bottom: 27px;
}

.item1,
.item2,
.item3,
.item4,
.item5 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item1 {
    grid-column: 1 / 3;
    background-color: var(--color2);
    margin-right: 34px;
}

.item2 {
    grid-column: 3 / 5;
    background-color: var(--color3);
    margin-right: 25px;
}

.item3 {
    grid-column: 5 / 7;
    background-color: var(--color4);
}

.item4 {
    grid-column: 1 / 4;
    background-color: var(--color5);
    margin-right: 30px;
}

.item5 {
    grid-column: 4 / 7;
    background-color: var(--color6);
}

.header2 {
    margin: 100px 0 90px 150px;
}

.list2 {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(10, 73px);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin-bottom: 191px;
    margin-left: 150px;
    margin-right: 150px;
}

.linkx {
    color: #0A0909;
}

.item6 {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    background-color: var(--color10);

}

.item7 {
    grid-column: 2 / 3;
    grid-row: 1 / 6;
    background-color: var(--color9);

}

.item8 {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    background-color: var(--color8);
}

.item9 {
    grid-column: 1 / 2;
    grid-row: 5 / 11;
    background-color: var(--color8);
}

.item10 {
    grid-column: 1.25 / 3;
    grid-row: 6 / 11;
    background-color: var(--color4);
}

.item11 {
    grid-row: 4 / 8;
    background-color: var(--color10);
}

.item12 {
    grid-row: 8 / 11;
    background-color: var(--color12);
}

.link2 {
    color: white;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--color10);
}

.footer-item {
    margin-top: 100px;
    width: max-content;
    margin-left: 150px;
}

.footerdivx {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-bottom: 60px;
}

.footerdiv {
    border: 1px solid var(--color4);
    width: 180px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.footer-link {
    color: var(--color4);
}

.link3 {
    color: white;
}

.list3 {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(6, 1fr 1fr 1fr 1fr);
    list-style: none;
    margin-left: 140px;
}

.item13,
.item14,
.item15,
.item16,
.item17,
.item18 {
    width: 427px;
    height: 291px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-text {
    width: 326px;
    font-size: 22px;
    font-style: Gilam;
    margin: 0;
}

.footer-image {
    display: block;
    margin: 0 auto;
    width: 185px;
    height: 49px;
}

.item13 {
    grid-column: 1 / 3;
    background-color: var(--color2);
}

.item14 {
    grid-column: 3 / 6;
    background-color: var(--color13);

}

.item15 {
    grid-column: 6 / 9;
    background-color: var(--color4);
}

.item16 {
    grid-column: 1 / 3;
    background-color: var(--color5);
}

.item17 {
    grid-column: 3 / 6;
    background-color: var(--color6);
}

.item18 {
    grid-column: 6 / 9;
    background-color: var(--color2);
}