.product {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-width: 200px;
  min-height: 300px;
  padding: 10px;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  color: black;

  .product-icon {
    fill: white;
    stroke: black;

    &.is-favorite {
      fill: yellow;
    }

  }

  .product-image {
    min-height: 160px;
    padding: 10px;
  

    img {
      max-width: 100%;
    }
  }

  .product-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

    .product-btn {
      margin: 2px;
      padding: 10px 16px;
      background-color: rgb(87, 179, 62);
      border: 1px solid rgb(87, 179, 62);
      outline: none;
      color: white;
      cursor: pointer;
      border-radius: 20px;

      &:hover {
        color: black;
        border: 1px solid yellow;
        background-color: yellow;
      }
    }

    .product-price {
      font-size: 18px;
      color: black;
      font-style: bold;
    }
  }
}