body {
    background-image: url(./Фон\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    font-family: Ubuntu;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    color: white;
}

.header-title {
    margin-left: 80px;
    color: white;
    transition: color 0.3s;
}

.header-title:hover {
    color: #01813F;
}

.img {
    display: flex;
    align-items: center;
    border-right: 1px solid white;
    margin: 20px 20px 20px 900px;
}

.img1,
.img2,
.img3 {
    margin-right: 30px;
    transition: 0.3s;
}

.img1:hover {
    content: url(./calendar-alt-regular\ 1.1.svg);
}

.img2:hover {
    content: url(./envelope-open-regular\ 1.1.svg);
}

.img3:hover {
    content: url(./compass-regular\ 1.1.svg);
}

.header-text {
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: white;
    transition: color 0.3s;
}

.header-text:hover {
    color: #01813F;
}

.main-content {
    width: 444px;
    height: 584px;
    background: white;
    margin: 54px auto 74px;
}

.form-platform {
    max-width: 324px;
    margin: 0 auto;
}

.form-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 324px;
}

.form-text {
    width: 50px;
    height: 15px;
    transition: 0.3s;
}

.p-link {
    color: #3CB878;
}

.form-text:hover {
    text-decoration: underline;
}

.p-link:hover {
    text-decoration: underline;
    text-decoration-color: #3CB878;
}

.title-buttons {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.facebook {
    color: white;
    background: #305DB8;
    width: 160px;
    height: 50px;
    font-size: 15px;
    border: 0;
    border-radius: 3px;
    transition: 0.3s;
}

.facebook:hover {
    background: #022263;
}

.google {
    color: white;
    background: #DF4A32;
    width: 160px;
    height: 50px;
    font-size: 15px;
    border: 0;
    border-radius: 3px;
    transition: 0.3s;
}

.google:hover {
    background: #AB1F09;
}

.logo-button1 {
    border-right: 1px solid rgba(10, 22, 47, 0.1);
    padding-right: 15px;
    margin-right: 10px;
}

.logo-button2 {
    border-right: 1px solid rgba(43, 13, 9, 0.1);
    padding-right: 7px;
    margin-right: 25px;
}

.logo-button1,
.logo-button2 {
    font-size: 20px;
}

.line1,
.line2 {
    border-top: 1px solid #F2F2F2;
    width: 150px;
    text-align: center;
}

.line {
    color: #848484;
    margin: 5px 15px;
    position: relative;
    text-align: center;
}

.line::before {
    content: "";
    display: block;
    border-bottom: 1px solid rgba(242, 242, 242, 1);
    width: 152px;
    position: absolute;
    left: -15px;
    bottom: 50%;
    transform: translateY(50%);
}

.line::after {
    content: "";
    display: block;
    border-bottom: 1px solid rgba(242, 242, 242, 1);
    width: 152px;
    position: absolute;
    right: -15px;
    bottom: 50%;
    transform: translateY(50%);
}

.form {
    display: grid;
    grid-column: 1;
    justify-content: center;
}

.form-item {
    width: 320px;
    height: 45px;
    border: 1px solid #F2F2F2;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 5px;
}

.form-checkbox {
    color: #3CB878;
    transition: 0.3s;
}

.form-checkbox:hover {
    text-decoration: underline;
}

.form-checkbox-text {
    margin-top: 12px;
}

.form-button {
    color: white;
    background: rgba(60, 184, 120, 0.8);
    border: 0;
    border-radius: 5px;
    width: 325px;
    height: 45px;
    margin-top: 20px;
    transition: 0.3s;
}

.form-button:hover {
    background: #01813F;
}