.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 560px;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 20px;
  background-color: rgb(87, 179, 62);

  .modal-close {
    position: absolute;
    right: 16px;
    top: 16px;
    display: inline-flex;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    outline: none;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
  }

  .modal-header {
    margin-bottom: 24px;
    font-size: 36px;

    img {
      max-width: 200px;
    }
  }

  

  .modal-footer {
    margin-top: 24px;

    .btn-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .modal-btn {
        border: 1px solid bisque;
        color: black;
        background-color: bisque;

        &:hover {
          background-color: beige;
          border: 1px solid beige;
        }
      }
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}