.main-content {
  display: flex;
  background-color: #F6F6F6;

  .product {
    border-radius: 20px;
  }

  .product-image {
    height: 100px;
  }

  .products-wrapper {
    max-width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 2em;
    background-color: rgb(87, 179, 62);
  }

}