.modal-wrapper {
    display: flex;
    justify-content: center;
    max-width: 560px;
    margin: 0 auto;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.imgModal {
    width: 200px;
    margin-top: 80px;
}

.modalWindow {
    width: 560px;
    height: 560px;
    border-radius: 10px;
    background-color: white;
    position: relative;

}

.modalClose {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: white;
    color: black;
    
}

.titleModal {
    color: black;
}

.textModal {
    color: gray;
}

.buttons {
    display: flex;
    justify-content: center;
}

.modalButton1,
.modalButton2 {
    margin-left: 50px;
}

.modalButton1 {
    background-color: #8A33FD;
}

.modalButton2 {
    border: 1px solid black;
    background-color: white;
    color: #8A33FD;
}

.titleModal2 {
    color: black;
    padding-top: 20px;
}

.modalWindow2 {
    width: 560px;
        height: 333px;
        border-radius: 10px;
        background-color: white;
        position: relative;
}

.modalButton3 {
    background-color: #8A33FD;
}