body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
    color: #FFF;
}

.s1 {
    margin: 0 auto;
    background-image: url(./section-1\(header\).jpg);
    width: 100%;
    height: 120vh;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: 100% 1200px;
}

@media screen and (min-width: 1200px) {
    .s1 {
        width: 100%;
    }
}

.navbar {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    background-color: rgba(94, 93, 88, 0.60);
    position: absolute;
}

.img2 {
    position: absolute;
    left: 280px;
    top: 25px;
}

.H {
    color: #FFF;
    font-size: 40px;
    position: absolute;
    top: 35px;
    left: 295px;
}

.logo {
    font-size: 32px;
    position: absolute;
    left: 344px;
    top: 40px;
}

.the {
    color: #FFF;
}

.Ham {
    color: #18CFAB;
}

.tabs {
    position: absolute;
    left: 683px;
    top: 34px;
    list-style-type: none;
    display: flex;
}

.litabs {
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}

.litabs:hover {
    color: #18CFAB;
    padding-bottom: 43px;
    border-bottom: 2px solid#18CFAB;
}

.img3 {
    width: 21px;
    height: 20px;
}

.title1 {
    color: #FFF;
    font-size: 35px;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 637px;
    height: 35px;
}

.text-title {
    color: #18CFAB;
}

.title2 {
    color: #FFF;
    font-size: 78px;
    position: absolute;
    top: 435px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 798px;
    height: 80px;
}

.title3 {
    color: #D4D4D4;
    font-size: 34px;
    position: absolute;
    top: 540px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 400;
    display: flex;
    width: 795px;
    height: 34px;
}

.btns {
    display: flex;
    justify-content: center;
}

.bckgb1,
.bckgb2 {
    background-color: #FFF;
    width: 169px;
    height: 64px;
    border-radius: 5px;
    position: relative;
    top: 700px;
}

.bckgb1 {
    margin-right: 25px;
}

.btn1,
.btn2 {
    width: 169px;
    height: 64px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 5px;
}

.btn1 {
    background-color: #18CFAB;
}

.btn2 {
    background-color: #00CBF6;
}

.conteiner1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 8px;
}

.item1,
.item3 {
    background-color: #1C2A33;
    color: #18CFAB;
}

.item2,
.item4 {
    background-color: #18CFAB;
    color: #FFF;
}

.item1,
.item2,
.item3,
.item4 {
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
}

.img4,
.img6 {
    margin-bottom: 50px;
}

.img5,
.img7 {
    margin-bottom: 60px;
}

.titles2 {
    color: #4E4E4E;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-top: 80px;
}

.img8,
.img10,
.img23,
.img32 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.tabs2,
.tabs3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.tab,
.tab2,
.tab7,
.tab8,
.tab9,
.tab10,
.tab11 {
    border: 0.5px solid;
    border-color: #dbdbdb;
    width: 195px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tab:hover,
.tab2:hover,
.tab7:hover,
.tab8:hover,
.tab9:hover,
.tab10:hover,
.tab11:hover {
    border: 1.5px solid #18CFAB;
}

.tab.active {
    background-color: #18CFAB;
    color: #FFF;
}

.main-content.active {
    padding-top: 23px;
    display: flex;
    justify-content: center;
    max-width: 1160px;
    margin: 0 auto;
}

.main-content {
    display: flex;
    justify-content: center;
    display: none;
}

.s2text {
    width: 952px;
    height: 136px;
    color: #777;
    font-size: 13.645px;
    font-style: normal;
    font-weight: 300;
    line-height: 24.366px;
    margin-left: 30px;
    margin-top: 0;
}

.conteiner2 {
    margin-top: 90px;
    background-image: url(./Layer\ 21\ 1.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.s3text {
    color: #18CFAB;
    font-size: 40px;
    width: 1143.341px;
    height: 40px;
    text-transform: uppercase;
}

.s3text2 {
    color: #D8D8D8;
    display: flex;
    width: 852px;
    height: 40px;
    font-size: 16px;
    margin-top: -10px;
}

.bckg3 {
    background-color: #FFF;
    width: 170px;
    height: 65px;
    border-radius: 5px;
}

.btn3 {
    background-color: #18CFAB;
    width: 170px;
    height: 65px;
    border-radius: 5px;
    top: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}

.s4 {
    background-color: #E9EDEF;
    margin-top: 0;
}

.s4title {
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    margin-top: 0;
    padding-top: 95px;
}

.grid {
    margin-top: 70px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 0;
}

.hide {
    display: none;
}

.grid-img:nth-child(n + 13) {
    display: none;
}

.grid-img.active-items {
    display: grid;
}

.createblock {
    width: 285px;
    height: 211px;
    background-color: #E9EDEF;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.createblock:hover {
    border-top: 2px solid #18CFAB;
    margin: 0;
    padding: 0;
}

.createblocktext {
    color: #18CFAB;
    display: flex;
    width: 165px;
    height: 42px;
    flex-direction: column;
    justify-content: center;
    font-size: 14.177px;
    text-transform: uppercase;
}

.createblocktext2 {
    color: #8A8A8A;
    font-size: 12.152px;
}

.btn4 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #18CFAB;
    width: 170px;
    height: 60px;
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    border-style: none;
}

.img22 {
    margin-right: 15px;
}

.btns3 {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding-bottom: 100px;
}

.titles5 {
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    margin-top: 80px;
}

.grid2 {
    max-width: 1160px;
    margin-top: 70px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    gap: 45px;
}

.s5text {
    color: #717171;
    font-size: 17.988px;
    font-weight: 700;
}

.s5text2 {
    color: #777777;
    font-size: 13.991px;
}

.s6 {
    margin-top: 130px;
    background-image: url(./Layer\ 333.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 109vh;
}

.s6title {
    padding-top: 100px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
}

.img33 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.s6text {
    padding-top: 40px;
    color: #BBB;
    width: 1160px;
    height: 45px;
    font-size: 16px;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 30px;
}

.s6text2 {
    color: #BBB;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
}

.s6span {
    color: #18CFAB;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
}

.s6textblock {
    text-align: center;
    display: flex;
    width: 110px;
    height: 42px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: auto;
    padding-top: 40px;
}

.datadiv {
    width: 70px;
    height: 68px;
    background-color: #203E38;
    position: absolute;
    margin-left: 193px;
}

.datatext {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
}

.newscontent:hover {
    .datadiv {
        background-color: #18CFAB;
    }

    .s5text {
        color: #18CFAB;
    }
}

.footeritems {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 275px;
}

.f-img {
    position: absolute;
    margin-top: -67px;
    margin-left: 4.5px;
}

.f-elem {
    padding-left: 20px;
}

.f-arrow2 {
    margin-left: 20px;
}

.f-arrow1:hover,
.f-arrow2:hover {
    background-color: #18CFAB;
}