body {
    max-width: 1280px;
    margin: auto;
}

ul {
    list-style-type: none;
}

.title {
    font-size: 25px;
}

.menu {
    display: flex;
    width: 1280px;
    height: 69px;
    background-color: #35444F;
    justify-content: space-between; 
    align-items: center;
    padding-left: 0;   
    font-size: 25px; 
}

.ul1 {
    color: white;
    border-right: 1px solid white;
    padding: 26px 50px;
}

.ul1:hover{
    background: rgba(34, 47, 58, 1);
}

h1 {
    color: black;
}

span {
    color: #4BCAFF;
}

a {
    text-decoration: none;
}

.aside{
    border: 1px solid #485863;
    display: inline-block;
}

.aside-item {
    padding: 10px;
    font-size: 25px;
    width: 280px;
    
}

.ul2 {
    color: #485863;
    padding: 10px;
}

.ul2:hover {
    background-color: rgba(219, 219, 219, 1);
}

.photo {
    width: 320px;
    height: 381px;
    padding: 75px 268px 73px 297px;
    border: 1px solid #485863;
    margin-top: 15px;
}

.content {
    display: flex;
    gap: 52px;
}

.main {
    margin-left: 400px;
}

.footer-ul {
    background-color: rgba(99, 105, 110, 0.48);
    display: flex;
    width: 1280px;
    height: 69px;
    justify-content: space-around;
    align-items: center;
}

.footer-link:hover {
    color: #3181A6;
    text-decoration: underline;
}

.footer-link1:hover {
    color: #3181A6;
    text-decoration: underline;
}

.footer-link {
    color: black;
    font-size: 20px;
    
}

.footer-link1 {
    color: black;
    font-size: 20px;
    margin-right: 40px;
    margin-left: 150px;
}

.photo {
    transition: transform 0.3s;
}

.photo:hover{
    transform: scale(1.2);
}